  <title>
      <%=title%>
  </title>
  <link rel="stylesheet" href="https://cdn.time-pack.com/fonts/fonts.css">
  <link rel="stylesheet" href="style.css" />
  <meta name="color-scheme" content="light dark">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdn.time-pack.com/fonts/fonts.css">