<html>

<head>
<%- include('header') %>
  <script src="lib/vue.min.js"></script>
  <script src="lib/reconnecting-websocket.min.js"></script>
  <script src="tiaoom.js"></script>
</head>

<body>
  <article id="app">
    <section class="container">
      <aside class="aside border-r overflow-auto">
        <p class="header">
          <span>欢迎回来~ <%=player.name%></span>
          <input :title="playerStatus == 'playing' ? '游戏中不可退出账号' : ''" :disabled="playerStatus == 'playing'" type="button" value="退出" onclick="location.href='/logout'" />
        </p>
        <h2>在线玩家</h2>
        <ul class="list">
          <li v-for="p in players" :key="p.id">{{ p.name }}</li>
        </ul>
        <h2>在线房间</h2>
        <ul class="list">
          <li :id="`room${r.id}`" v-for="r in rooms" :key="r.id" class="space-x-2">
            <b v-if="r.players.some(p => p.id == player.id)">{{ r.name }} ({{ r.players.filter(p => p.role == 'player').length }}/{{ r.size }})</b>
            <span v-else>{{ r.name }} ({{ r.players.length }}/{{ r.size }})</span>
            <span v-if="!roomPlayer">
              <input type="button" :value="r.status == 'waiting' && r.players.length < r.size ? '进入' : '围观'" @click="game.joinRoom(r.id)" />
            </span>
          </li>
        </ul>
        <span v-if="rooms.length == 0">暂无房间</span>
      </aside>
      <main class="main h-full">
        <form name="room" id="room" v-if="!roomPlayer">
          <h3>创建房间</h3>
          <p class="group flex-middle">
            <input type="text" name="name" placeholder="房间名称" v-model="room.name" required />
            <select 
              name="type" 
              v-model="room.attrs.type" 
              @change="onTypeChange"
            >
              <option v-for="(game, key) in games" :key="key" :value="key">{{ game.name }}</option>
            </select>
            <select v-if="games[room.attrs.type]?.minSize != games[room.attrs.type]?.maxSize" name="size" v-model="room.size" @change="room.minSize = Math.min(room.minSize, room.size)">
              <option 
                v-for="i in games[room.attrs.type]?.maxSize - games[room.attrs.type]?.minSize" 
                :key="i"
                :value="i + games[room.attrs.type]?.minSize - 1"
              >
                {{ i + games[room.attrs.type]?.minSize - 1 }} 玩家
              </option>
            </select>
            <input v-if="games[room.attrs.type]?.minSize != games[room.attrs.type]?.maxSize" type="number" name="minSize" title="最小开始人数" placeholder="最小人数" v-model="room.minSize" min="4" :max="room.size" />
            <input type="button" value="创建" @click="createRoom" :disabled="!!roomPlayer" />
          </p>
          <p class="description">{{ games[room.attrs.type]?.description }}</p>
        </form>
        <section v-if="!roomPlayer">
          <hr />
          <p class="flex-middle group">
            <input type="text" v-model="msg" @keyup.enter="sendMessage" placeholder="随便聊聊" />
            <input type="button" value="发送" @click="sendMessage" />
          </p>
          <section class="messages">
            <p v-for="msg in globalMessages">{{ msg }}</p>
          </section>
        </section>
        <section v-if="roomPlayer" class="space-y-2">
          <h3>我的房间: {{ roomPlayer.room.name }} ({{ roomPlayer.room.players.filter(p => p.role == 'player').length }}/{{ roomPlayer.room.size }})</h3>
          <component :is="`${roomPlayer.room.attrs?.type}-room`" :game="game" :room-player="roomPlayer"></component>
        </section>
      </main>
    </section>
  </article>
  <footer>
    <script src="core.js"></script>
    <script src="templates.js"></script>
    <% Object.keys(locals.games).forEach(function(game) { %>
    <script src="games/<%=game%>.js"></script>
    <% }); %>
    <script src="api.js"></script>
    <script src="main.js"></script>
  </footer>
</body>

</html>