<html>

<head>
  <%- include('header') %>
</head>

<body>
  <section id="app" class="flex-center">
    <h1>
      <%=title%>
    </h1>
    <p id="message"><%= locals.message %></p>
    <p class="group flex-middle">
      <!-- <input id="name" name="name" value="<%=locals.name%>" placeholder="起个名字吧" /><input type="submit" value="登录" /> -->
      <button class="login-btn space-x-2" onclick="location = 'login/fishpi'">
        <img src="fishpi.svg" />
        <span>摸鱼派登录</span>
      </button>
    </p>
  </section>
</body>

</html>