<html>

<head>
    <title>
        <%=title%>
    </title>
    <script src="tiaoom.js"></script>
</head>

<body>
    <section>
      <p>Welcome~ <%=player.name=%></p>
      <input type="button" value="logout" onclick="location.href='/logout'"/>
      <input type="hidden" id="playerId" value="<%=player.id=%>"/>
    </section>
    <section>
      <p>Online Players</p>
      <ul id="onlinePlayers">
      </ul>
    </section>
    <footer>
      <script src="main.js"></script>
    </footer>
</body>

</html>