<html>

<head>
  <%- include('header') %>
</head>

<body>
  <form action="#" method="post" id="app" class="flex-center">
    <h1>
      <%=title%>
    </h1>
    <p class="group flex-middle">
      <input id="name" name="name" placeholder="用户名" /><input type="submit" value="登录" />
    </p>
  </form>
</body>

</html>