<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <form action="#" method="post">
      <p><label for="name"></label><input id="name" name="name"/></p>
      <p><input type="submit" value="login" /></p>
    </form>
</body>

</html>