@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
};

@theme {
  --font-pixel: "Chill Pixels Mono", "Pixel32", ui-sans-serif, system-ui;
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  @apply bg-base-100 text-base-content font-sans antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
}

.icon-btn {
  @apply bg-transparent text-base text-base-content border-none border-base-content/20 rounded-full p-0 cursor-pointer transition-all duration-200 inline-flex items-center justify-center;
}

.icon-btn-hidden {
  @apply bg-transparent text-base text-base-content border-none border-base-content/20 rounded-full p-0 cursor-pointer transition-all duration-200 items-center justify-center;
}

.icon-btn:hover, .icon-btn-hidden:hover {
  @apply -m-2 p-2 bg-base-content/20;
}

.font-pixel {
  font-family: "Chill Pixels Mono", "Pixel32", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-base-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-base-content/20;
}
