<section class="container">
  <section class="flex-1">
    <section class="checkerboard">
      <div class="row" v-for="(row, rowIndex) in gobang.board" :key="rowIndex">
        <div class="cell" v-for="(cell, colIndex) in row" :key="colIndex" @click="gobang.placePiece(rowIndex, colIndex)">
          <span class="piece" :class="{ 'black-piece': cell === 1, 'white-piece': cell === 2 }"></span>
        </div>
      </div>
    </section>
  </section>
  <section class="aside border-l">
    <ul class="list">
      <li v-for="p in roomPlayer.room.players" :key="p.id" class="space-x-2" :class="{ watcher: p.role == 'watcher' }">
        <span v-if="p.role == 'player'">[{{p.isReady ? `准备好了` : `未准备`}}]</span>
        <span v-else>[围观中]</span>
        <span>{{ p.name }}</span>
      </li>
    </ul>
    <hr />
    <section class="messages">
      <p v-for="msg in roomMessages">{{ msg }}</p>
    </section>
  </section>
</section>