<section class="container">
  <section class="flex-1">
    <section class="checkerboard">
      <div class="row" v-for="(row, rowIndex) in board" :key="rowIndex">
        <div 
          class="cell" 
          v-for="(cell, colIndex) in row" 
          :key="colIndex" 
          @click="placePiece(rowIndex, colIndex)" 
          :class="{ 'cursor-point': currentPlayer?.id == roomPlayer.id && cell === 0 }"
        >
          <span 
            class="piece" 
            :class="{ 'black-piece': cell === 1, 'white-piece': cell === 2, 'current-piece': currentPlace?.x === rowIndex && currentPlace?.y === colIndex }">
          </span>
        </div>
      </div>
    </section>
    <span v-if="gameStatus == 'playing'" class="current-turn space-x-2">
      <div class="cell">
        <span 
          class="piece" 
          :class="{ 'black-piece': currentPlayer?.attributes.color === 1, 'white-piece': currentPlayer?.attributes.color === 2 }">
        </span>
      </div>
      <b>{{ currentPlayer?.name }}</b>
    </span>
  </section>
  <section class="aside border-l">
    <template v-if="Object.keys(achivents).length">
      <table class="table">
        <thead>
          <tr>
            <th>玩家</th>
            <th>胜</th>
            <th>负</th>
            <th>和</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(achivement, playerName) in achivents" :key="playerName">
            <td>{{ playerName }}</td>
            <td>{{ achivement.win }}</td>
            <td>{{ achivement.lost }}</td>
            <td>{{ achivement.draw }}</td>
          </tr>
        </tbody>
      </table>
      <hr />
    </template>
    <ul class="list">
      <li v-for="p in roomPlayer.room.players" :key="p.id" class="space-x-2" :class="{ watcher: p.role == 'watcher' }">
        <span v-if="p.role == 'player'">[{{getPlayerStatus(p)}}]</span>
        <span v-else>[围观中]</span>
        <span>{{ p.name }}</span>
      </li>
    </ul>
    <p v-if="gameStatus == 'waiting' && roomPlayer.role == 'player'" class="group">
      <input type="button" value="离开" @click="game.leaveRoom(roomPlayer.room.id)"
        :disabled="roomPlayer.isReady" />
      <input type="button" :value="roomPlayer.isReady ? '取消准备' : '准备'"
        @click="game.ready(roomPlayer.room.id, !roomPlayer.isReady)" />
      <input type="button" value="开始游戏" @click="game.startGame(roomPlayer.room.id)" :disabled="!isAllReady" />
    </p>
    <p class="group">
      <input v-if="roomPlayer.role == 'watcher'" type="button" value="离开" @click="game.leaveRoom(roomPlayer.room.id)"
        :disabled="roomPlayer.isReady" />
      <input type="button" value="请求和棋" 
        v-if="gameStatus == 'playing' && roomPlayer.role == 'player'"
        @click="requestDraw"
        :disabled="currentPlayer?.id != roomPlayer.id"
      />
      <input type="button" value="认输" 
        v-if="gameStatus == 'playing' && roomPlayer.role == 'player'"
        @click="requestLose"
        :disabled="currentPlayer?.id != roomPlayer.id"
      />
    </p>
    <hr />
    <p class="flex-middle group" v-if="roomPlayer.role == 'player'">
      <input type="text" v-model="msg" @keyup.enter="sendMessage" placeholder="随便聊聊" />
      <input type="button" value="发送" @click="sendMessage" />
    </p>
    <section class="messages">
      <p v-for="msg in roomMessages">{{ msg }}</p>
    </section>
  </section>
  <component is="style">
    .piece {
      transition: background 0.5s, transform 0.5s;
    }
    .white-piece {
      background: white;
      color: black;
      transform: rotateY(0deg);
    }
    .black-piece {
      background: black;
      color: white;
      transform: rotateY(180deg);
    }
    .row .cell::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #aaa;
      box-sizing: border-box;
      left: 0em;
      top: 0em;
      position: absolute;
      z-index: 0;
    }
    .cell:last-child::after {
      display: block;
    }
    .row:last-child .cell::after {
      display: block;
    }

  </component>
</section>